
* {
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin :0;
 font-family: 'Cairo','Open Sans', sans-serif;
 height: 1500px;



}

header{
  top:0;
  position: fixed;
  box-shadow: 0px 2px 35px rgba(0,0,0,0.1);
  background-color: #fff;
    width: 100%;
    min-height: 55px;
    z-index: 999;

}

.navbar {
  display: flex;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
 overflow: auto;

}

.col-9{width:75%;
      
}
.col-3{width: 25%;
      display: flex;
      justify-content:center;
}

 .col-3 a {

 text-decoration:none;
    align-self:center;
color: #333;
font-weight: bold;
padding: 12px;
 }

 .col-3 img{
    align-self:center;
    margin: 5px;
 }

.nav-list{
    list-style-type: none;
    margin :0;
    overflow: hidden;
    direction: rtl;
    text-align: left;
}
.nav-list li{
  display: inline;
    padding: 7px;/* give padding for item list */
    
}

.nav-list li a:hover, .dropdown-content a:hover{
   
	border-bottom: 2px solid #02b3e4;
	color: #00aaf6;
}




.nav-list li a{
    text-decoration:none;
    align-self:center;
color: #333;
transition: all 0.3s;

}



.dropdown-content{
    display: none;
    position: absolute;
    min-width: 230px;
    padding: 3px;
background-color: #f9f9f9;  
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;

}


.dropdown-content a{
    text-align: right;
    text-decoration: none;
    display: block;
    color:black;
    border-bottom-style: solid;
    border-bottom-width:  2px;
    border-bottom-color: white;
    padding:6px;
    background-color: #f2f2f2;
    font-size: 16px;
}
.discover-title:hover .dropdown-content{
display: block;    
}


li.discover-title {
    display: inline-block;
}



.banner_section{
    /* make total width is 100% for background image*/
    width: 100%;
    height: 500px;
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.section_content{
    margin: 0 auto;
    padding: 0 15px;
    overflow: auto;
    
}


.banner_section h1{
    color: #fff;
	font-size: 42px;
	margin: 165px auto 5px; /* we choose this number by try and test*/
}

.banner_section h3{
color: #fff;
 font-size: 18px;
margin-top: 8px;
}

.banner_section a{
    text-decoration:none;
  align-self:center;
color: #fff;
font-weight: bold;
padding: 12px;
display: inline-block;
font-size: 25px;
border:1px solid #11b7e6;
padding: 5px 30px;
border-radius: 4px;
margin-top: 10px;
background-color:#11b7e6; 
transition: all 0.3s;

}

.banner_section a:hover{
    background-color:#029fcb;
}

.banner_section a:active{
    background: #204d74;
}
.about-section{
    text-align: center;
    padding: 70px 0;
}
.about-section h2{	
	font-size: 35px;	
	color: #333;
}
.undeline::after{
    /* يستخدم هذا الكود لرسم خط*/
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color:#11b7e6;
    margin: 4px auto 40px;
    /* أستخدم هذا الكود لاضافة خط تحت النص لهذا في المستقبل كلما نحتاج لاضافة خط نستخدم هذا الكلاس*/
    
}

.about-section p{
   max-width: 720px;
	margin: 30px auto;
    
    
}

.info-list{
    direction: rtl;
    text-align: right;
    list-style-type: circle;
}
.info-list li{
    margin-bottom: 18px;
    font-size: 14px;
    color: #333;
}

.info-list li a{
	text-decoration: none;
	color: #00aaf6;
}


.col-6{width: 50%;}
.track{
    width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0;
       
}


.track .section_content{
    display: flex;
    flex-direction: row;
   

}

.track .track-desc{

width: 50%;
margin-left: 20px;
margin-right: 0px;
flex: 1;
text-align: right;
padding:0 15px; 
}

.track iframe{
    width: 100%;
    height: 360px;
    border: none;  
}

.track-desc h3,
.track-desc h2,
.track-desc p{
	color: #fff;
	margin: 0px;
}


.track-desc .undeline::after{
    	margin-right: 12px;
        margin-bottom: 15px;
}

.track-desc h2{
	line-height: 42px;
}
.track-desc p{
	font-size: 15px;
}

.track-desc h3{
	color: #11b7e6;
	font-size: 40px;
}


.section_content  > .track:nth-of-type(even){
    background-color: #fff; /* خلفية بيضاء */
    
}


.section_content  > .track:nth-of-type(odd){
background: url(../images/software-sec-bg.jpg);    
}

.section_content  > .track:nth-of-type(even) h2,
.section_content  > .track:nth-of-type(even) p
{
	color: #333; 
}


.section_content  > .track:nth-of-type(even) > .section_content{
  flex-direction: row-reverse;
  

}

.question-box h3{
    text-align: right;
}

.faq h2{
    margin-top: 0px;
    font-size: 25px;
}
.faq .section_content{
	text-align: right;
}

.accordion{
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}

.accordion label{
	display: block;
	padding: 10px 30px;
	background-color: #fafafa;
	border: 1px solid #eee;
	font-size: 14px;
	color: #333;
	cursor: pointer;
         direction: rtl;
}

.accordion .accordion-content {
   border:1px solid #eee;
  border-top:none;
  overflow: hidden;
  display: none;
}

.accordion p{
	margin-top: 15px;
        margin-right: 3px;
        margin-bottom: 15px; 
	font-size: 14px;
	color: #333;
}

input[type=checkbox]{
	position: absolute;
	display: none;
}

input[type=checkbox]:checked ~ .accordion-content {
  display: block;
}

label::after{
	content: "+";
	position: absolute;
	top: 9px;
	right: 15px;
	display: block;
	width: 10px;
	height: 10px;
}

input[type=checkbox]:checked ~ label::after {
  content: "-";
}

/*
.question-list .dropdown-content {
    display: block;
    position: relative;
    background-color: #fff;
    box-shadow: none;
}




.question-list a{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #BCBBBB;
}


.question-list .dropdown-content > a:nth-of-type(even){
    display: none;
}

.question-list .dropdown-content > a .lastIMG{
display: none;
}


.question-list .dropdown-content > a:nth-of-type(n):hover + a:nth-of-type(2n){
display: block;
background-color: #fff; 
}

.question-list .dropdown-content > a:hover .lastIMG {
display: inline;
}
.question-list .dropdown-content > a:hover img:first-child{
display: none;
}


*/

.main-footer{
    padding: 100px 0px;
    text-align: center;
    background: #1c1c1c url(../images/map-pattern.png);
    background-repeat: no-repeat;
    background-position:center;
    color: #fff;
    direction: rtl;
    
}

.main-footer .undeline::after{
    width: 30px;
}


.main-footer p{
    color: #bbb;
	font-size: 14px;
	margin: 6px 0;
}

.main-footer a{
    text-decoration: none;
 color: #bbb;
}

.sub-footer{
    direction: rtl;
    padding: 2px 0;
    background: #131313;
    color: #ccc;
    text-align: center;
    border-top: 1px solid #1c1c1c;
}
.sub-footer p{
	padding: 0;
	font-size: 14px;
}

.sub-footer a{
    text-decoration: none;
    color: #ccc;
}


@media only screen and (max-width: 600px) {
   .track .section_content{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section_content  > .track:nth-of-type(even) > .section_content{
  flex-direction: column;
  justify-content: center;
  

}
.track iframe{width: auto;}


}
